body {
    font-family: "Open Sans", sans-serif;
    background:  hsl(210, 36%, 96%);
    color:hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.925rem;
    text-decoration: none;
  }
a{
  text-decoration: none;
}
.container{
  margin: auto;
  justify-content: center;
  background-color: #fff;
  width:50%;
  text-align: center;
}
.listing{
  width: 60%;
  margin: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;



}
ul li{
  cursor: pointer;
  position: relative;
  transition: 0.2s;
  text-align: left;
  padding-left: 20px;
  
}
ul li.checked{
  text-decoration: line-through;
}
ul li:hover{
  background-color: hsl(209, 61%, 16%);
  color:#fff;
  transition: 0.2s;
}
  .title{
    font-size: 2.5rem;
  }
 
  .addbtn{
    margin: 0;
    padding: 0;
    background-color: hsl(209, 61%, 16%);
    height:34px;
    width: 20%;
    border-radius: 0 4px 4px 0;
    color: #fff;
    float: left;
     
  }
  .addbtn:hover{
    background-color: hsl(205, 78%, 60%);

  }
  input[type="text"]{
    height:30px;
    background-color: rgb(252, 252, 252);
    border: solid 1px rgb(141, 141, 141);
    border-radius: 4px 0  0 4px ;
    width:70%;
    float: left;
  }
  input[type="text"]:hover{
    background-color: rgb(252, 252, 252);
    background-color: rgb(248, 246, 246);
    border: solid 1px hsl(209, 61%, 16%);
  }
  .form-input{
    margin-bottom: 20px;
  }
  .form-input:after {
    content: "";
    display: table;
    clear: both;
  }